<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <h1 class="text-center w-100">Приветствую, Вы На Голосовании</h1>
    </nav>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Кто Автор Книги Капитал?
            </div>
            <div class="card-body" id="container-event">
                <button id="1" class="btn btn-info">Карл</button>
                <button id="2" class="btn btn-info">Маркс</button>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-primary">Результаты:</button>
                <span></span>
            </div>
        </div>
    </div>
</body>
<script src="main.js" type="module"></script>

</html>