<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Голосование</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary">
            <h1 class="text-center w-100">Приветствую, Вы На Голосовании</h1>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center" id="container-event">
                        <div class="card-header">
                            Кто Автор Книги Капитал?
                        </div>
                        <div class="card-body d-flex justify-content-around" id="actions"></div>
                        <div class="card-footer text-muted">
                            <p>Карл</p><progress id="karl-progress" max="100" value="0"></progress>
                            <p>Маркс</p><progress id="marks-progress" max="100" value="0"></progress>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="download" class="col-12 d-flex justify-content-around">
                    <form action="/dowloadStat" method="POST" encrypt="multipart/form-data">
                        <input type="hidden" name="accept" , value="application/xml">
                        <button class="btn" type="submit">XML</button>
                    </form>
                    <form action="/dowloadStat" method="POST" encrypt="multipart/form-data">
                        <input type="hidden" name="accept" , value="text/html">
                        <button class="btn" data-accept="text/html">HTML</button>
                    </form>
                    <form action="/dowloadStat" method="POST" encrypt="multipart/form-data">
                        <input type="hidden" name="accept" , value="application/json">
                        <button class="btn" data-accept="application/json">JSON</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js" type="module"></script>

</html>